# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Ignore virtual environment directories
venv/
env/

# Ignore log files
logs/
*.log

# Ignore Docker files
.dockerignore